/* ---------------- */
/* Skyblue Style	*/
/* ---------------- */

/* Color 1 | #2288BB */
/* ---------------- */
nav#nav ul li a.active, nav#nav ul li a.active:hover, nav#nav ul li a.active:focus,
ul.bjqs-controls li a:hover, ul.bjqs-controls li a:focus,
ol.bjqs-markers li a:hover, ol.bjqs-markers li.active-marker a, .bgLight, .progress span, .jspDrag, .box-img-post,
#field-send:hover, #field-send:focus, .btn.groups.active:hover, .btn.groups.active:focus
{ background-color: #2288BB; }

ul.bjqs-controls li a, ol.bjqs-markers li a, a:hover, a:focus,
input[type="text"]:focus, input[type="password"]:focus, .input:focus, select:focus, textarea:focus, span.feat
{ color: #2288BB; }

ol.bjqs-markers li a, ol.bjqs-markers li a:hover, ol.bjqs-markers li.active-marker a,
.btn:hover, .btn:focus, .btn:active, .btn.groups.active, .btn.groups:hover, .btn.groups:focus,
input[type="text"]:focus, input[type="password"]:focus, .input:focus, select:focus, textarea:focus,
#field-send:hover, #field-send:focus
{ border-color: #2288BB; }


/* Color 2 | #3399CC */
/* ---------------- */
#mobile-nav-bt, #box-photo, #social a, a.readmore:hover, a.readmore:focus, a.readmore:active
{ background-color: #3399CC; }

#social a:hover, a:visited, a, a.readmore:visited, a.readmore, span.author
{ color: #3399CC; }

a.readmore:visited, a.readmore
{ border: 1px solid #3399CC; }


/* Color 3 | #44AADD */
/* ---------------- */
.color-hover, #page h4:after, .btn:hover, .btn:focus, .btn:active, #field-send, #field-send,
.btn.groups:hover, .btn.groups:focus,.btn.groups:active, .btn.groups.active, #leftSection ul li
{ background-color: #44AADD; }
::selection			{ background-color: #44AADD; }
::-moz-selection	{ background-color: #44AADD; }

.progress span, .jspDrag, h5, #page h1, #page h2, #page h3, #page h4, #page h6, #page label, #copyright p
{ color: #44AADD; }

#box-photo, #social a, #field-send, .line
{ border-color: #44AADD; }

ul.attributes li, ul.about li
{ border-left-color: #44AADD; }


/* Color 4 | #66CCFF */
/* ---------------- */
#leftSection #bio, #leftSection a.menu
{ color: #66CCFF; }

#leftSection #columnLeft, #leftSection a.menu
{ border-color: #66CCFF; }

@import 'default.css';